PORT=
MONGODB_URI=

CLIENT_URL=

EMAIL_USER=
EMAIL_PASS=
 

TEST_EMAIL=

JWT_SECRET=

JWT_EXPIRES=
COOKIE_EXPIRY=
OTP_EXPIRY=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPERADMIN_EMAIL=
SUPERADMIN_PHONE=
SUPERADMIN_PASSWORD=

