:root {
    --theme-green: #00603A;
    --theme-light-green: #9DCFBB;
    --theme-yellow: #FFD75E;
    --theme-blue: #102861;
}



.bg-green {
    background-color: var(--theme-green);
}

.bg-yellow {
    background-color: var(--theme-yellow);
}

.bg-light-green {
    background-color: var(--theme-light-green);
}

.bg-light-blue {
    background-color: var(--theme-blue);
}

.text-green {
    color: var(--theme-green);
}

.text-yellow {
    color: var(--theme-yellow);
}

.text-light-green {
    color: var(--theme-light-green);
}

.text-light-blue {
    color: var(--theme-blue);
}

.custom-scrollbar {
  scrollbar-width: auto;             
  scrollbar-color: #F2F2F2;  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 2px;

}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f3f3;
  width: 2px;

}